/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

.flex-container{
    display: flex;
}

.big-container{
    width: calc(100vh -100px);
    margin: 0 auto;
}

ul li{
    list-style: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: #6D6D6D;
}



/*HOVER*/

.libreria-brani :hover, .playlist-hover :hover, li :hover, ul :hover,
.menu-tendina-bottom :hover{
    color: white;
}

.playlist .lista-playlist ul li:hover{
    color: white;
}

.footer-left-icon :hover{
    color: red;
}

.icon-commands-song :hover{
    width: 20px;
    color: white;
}


.button-1 :hover{
    padding: 50px;
}



/*MAIN*/

.container-menu-tendina{
    width: 200px;
    height: calc(100vh - 80px);
    background-color: black;
    color: #6D6D6D;
    font-size: 0.9em;
    overflow: hidden;
    min-height: 200px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
}

.container-main-principal{
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
    background-color: #141922;
    color: white;
    overflow: auto;
}

.container-red{
    padding: 20px;
}

.ciao{
    margin-right: 10px;
}

h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

.container-red p{
    margin-bottom: 10px;
}

.container-header-main{
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: end;
    padding: 10px;
}

button{
    padding: 5px;
    border-radius: 100px;
    background-color: black;
    color: white;
    border-color: white;
}

.img-special{
    border-radius: 100px;
}

h2{
    margin-bottom: 20px;
}


.logo-spotify{
    margin-bottom: 20px;
}





.libreria-brani > div *{
    margin-bottom: 10px;
    
}

.orizzontal-line{
    width: 30px;
    height: 4px;
    background-color: greenyellow;
    margin-left: 33px;
    margin-top: 5px;
}

.orizzontal-line-2{
    width: 4px;
    height: 31px;
    background-color: greenyellow;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: -10px;
}


.margin-home-line{
    margin-left: 8px;
}

.absolute{
    position: absolute;
    bottom: 0;
}

.header-main-upgrade{
    justify-content: flex-end;
}

.list-track{
    padding: 30px;
    text-align: center;
    margin-right: 15px;
    color: #6D6D6D;
    font-size: 0.9em;
}

.short-menu-tendina{
    display: none;
}

.padding-header-main{
    padding: 20px;
}

.my-row-16, .my-row-33{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
}


.my-col-speciall{
    width: calc((100% / 6) - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

h3{
    color: white;
}

.img-container{
    position: relative;
}

.play-song-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 1.5em;
}

.img-container:hover .play-song-icon{
    display: block;
}



#sezione-3 h3 {
    margin-top: 60px;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.playlist{
    flex-grow: 1;
    overflow-y: auto;
}

.playlist-hover h4{
    text-align: left;
    padding-bottom: 10px;
    padding-top: 15px;
}



.name-user{
    color: white;
}

h4, h5{
    text-align: center;
}

h5{
    color: #6D6D6D;
}


#sezione-3{
    margin-bottom: 30px;
}


/*FOOTER*/

footer{
    width: 100%;
    height: 80px;
    background-color: #282828;
    color: white;
}

.footer-padding-container{
    padding: 15px;
    justify-content: space-between;
}

.left-footer-container img{
    width: 40px;
}

.left-footer-container > div{
    margin-right: 10px;
}

.left-footer-container{
    align-items: center;
    width: 20%;
}

.left-footer-container .footer-name-track{
    font-size: 0.7em;
    color: #6D6D6D;
}

.left-footer-container .footer-name-album{
    font-size: 0.9em;
}

.bar-song{
    justify-content: center;
    align-items: center;
}

.footer-left-icon{
    margin-left: 20px;
}

.bar-player{
    height: 4.5px;
    border-radius: 30px;
    width: 100%;
    background-color: grey;
    margin-right: 20px;
    margin-left: 20px;
}

.running-time-song{
    height: 4.5px;
    border-radius: 30px;
    width: 40%;
    background-color: white;
}


.icon-commands-song{
    text-align: center;
    margin-bottom: 10px;
}


.center-footer-container > * i{
    margin-right: 15px;
}

.center-footer-container{
    width: 50%;
}

.right-footer-container{
    width: 20%;
    align-items: center;
}

.right-footer-container > * i{
    margin-right: 13px;
}

.bar-volume-song{
    height: 4.5px;
    border-radius: 30px;
    width: 40%;
    background-color: grey;
    margin-right: 20px;
    margin-left: 20px;
}

.rule-volume-song{
    height: 4.5px;
    border-radius: 30px;
    width: 15%;
    background-color: white;
}



.ball-track-song i {
    color: green;
    margin: 0;
    font-size: 0.8em;
    display: none;
}

.running-time-song:hover .ball-track-song i {
    color: white;
    display: block;
    display: flex;
    justify-content: end;
}

.ball-volume-song i {
    color: green;
    margin: 0;
    font-size: 0.8em;
    display: none;
}

.rule-volume-song:hover .ball-volume-song i {
    color: white;
    display: block;
    display: flex;
    justify-content: end;
}

.running-time-song:hover{
    background-color: greenyellow;
    
}

.rule-volume-song:hover{
    background-color: greenyellow;
    
}






/******************RESPONSIVE********************/

/*I BREAKPOINT*/
@media screen and (max-width: 1100px){


    .my-col-speciall{
        width: calc((100% / 4) - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }

    .my-col-speciall{
        margin-bottom: 30px;
    }

    }




/*II BREAKPOINT*/
@media screen and (max-width: 700px){

    .libreria-brani, .playlist{
        margin-top: 20px;
    }


    .my-col-speciall{
        width: calc((100% / 2) - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }

    .my-col-speciall{
        margin-bottom: 50px;
    }

    .my-row-track{
        text-align: center;
    }

    .my-col-track{
        width: calc((100% / 3) - 20px);
    }

    }




/*III BREAKPOINT*/
@media screen and (max-width: 600px){

    .short-menu-tendina{
        display: block;
    }

    .extended-menu-tendina{
        display: none;
    }

    .logo-spotify > img{
        width: 30px;
    }   

    .container-menu-tendina i{
        text-align: center;
    }

    .container-main-principal{
        width: calc(100% - 50px);
    }

    .container-menu-tendina{
        width: 50px;
    }

    .container-header-main{
        width: calc(100% - 50px)
    }

    }
